<!DOCTYPE html>
<html>
<head>
    <title>{{#if pageTitle}} {{pageTitle}} | {{/if}} s&portfolio </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="page-wrap">
<div class="nav">
    <a href="/"><h2>s&portfolio</h2></a>
    <a href="/explore"><h2>Explore</h2></a>
    {{# if userState.isRegistered }}
        <a href="/user/{{userState.username}}"><h2>My Profile</h2></a>
        <a href="/auth/logout"><h2>Sign Out</h2></a>
    {{else}}
        <a href="/auth/sso"><h2>Sign In</h2></a>
    {{/if}}
</div>

{{{body}}}
</div>
</body>
</html>
