<!DOCTYPE html>
<html>
<head>
    <title>{{#if pageTitle}} {{pageTitle}} | {{/if}} s&portfolio </title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="page-wrap">
<div class="container">
    <h2><a href="/">s&portfolio</a></h2>
    <h2><a href="/explore">Explore</a></h2>
    {{# if userState.isRegistered }}
        <h2><a href="/user/{{userState.username}}">My Profile</a></h2>
        <h2><a href="/auth/logout">Sign Out</a></h2>
    {{else}}
        <h2><a href="/auth/sso">Sign In</a></h2>
    {{/if}}
</div>

{{{body}}}
</div>
</body>
</html>
