<div class="text-container">
    <p>We handle sign-ins through Google SSO. The only information stored is your email and unique Google ID.</p>
    <p>By continuing, you are acknowledging you are older than 13 year old and are okay with your information being stored.</p>
    <p>You can delete your account, along with your data, at any time.</p>
    <a class="sso-button" href="/auth/google">
        <img src="/images/g-logo.svg" alt="Google Sign-In" />
        Sign in with Google
    </a>
</div>


