<div class="text-container">
    <p>Welcome to s&portfolio.</p>
    <p>On this site you can create your own portfolio with ease.</p>
    <p><a href="/auth/sso"><b>Sign up</b></a> to get started. It only takes a few seconds!</p>
</div>
