<h1>Create An Account</h1>
<p>
    Blurb about account creation. Choose your username.
</p>
<form method="post" action="/auth/register">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" maxlength="20"
           placeholder="Enter a username" value="{{username}}">
    <button type="submit" name="submit">Submit</button>
</form>