<div class="portfolio-header">
    <h1>{{username}}'s Portfolio</h1>
    {{# if isOwnUser }}
        <h3><a href="/user/{{username}}/edit">Edit</a></h3>
    {{/if}}
</div>

<div class="portfolio-container">
    <div class="portfolio-content">
        {{{portfolio}}}
    </div>
</div>