.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.nav > h2 {
  background-color: #2170fe;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  border-radius: 1rem;
  max-width: max-content;
}

.nav > h2 > a {
  color: azure;
  text-decoration: none;
}

.sso-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: azure;
  color: black;
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.sso-button > img {
  vertical-align: middle;
}

.text-container {
  background-color: azure;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 1rem;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
}

.portfolio-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.portfolio-header > h1, .portfolio-header > h3 {
  padding: 10px;
}

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
}

.portfolio-container > div, .portfolio-container img {
    max-width: 100%;
}
